<div style="width: 100%;display: grid;grid-template-columns: repeat(auto-fit,minmax(340px,1fr));gap: 10px;">

   <div style="position:relative; border: gray 1px solid; width: 320px;border-radius: 10px;padding: 8px;">
     <h1 style="text-align: center;"> {{data.title}} </h1>
     <p> <b>Descripcion</b>: {{data.description}} </p>
     <div style="display: flex; flex-direction: row;justify-content: space-between;">
        <p> <b> USD${{data.price}} </b> </p>
        <p> <b> Cantidad:{{data.stock}} </b> </p>
     </div>
      <div style="position: absolute;top: 5px; right: 5px">
        <button id="button-one" style="background-color: rgb(159, 247, 247); border:none; cursor: pointer; padding: 5px;border-radius: 5px;" >Add to card</button>
      </div>
   </div>
</div>

<script>

   const button = document.querySelector('#button-one');

   button.addEventListener('click', () => {
      //"{{data._id}}"
      fetch('/api/6567ebd903c4b79bf2dcaeb1/product/{{data._id}}', {method: 'POST'}).then(() => {
         alert('Ya esta agregado al carrito');
         window.location.href = "/";
      }).catch(e => {
         alert('No se agrego al carrito');
         console.log(e);
         })
   })

</script>