<a href="/carts/656fb9eeaa9fe8d76786f2e3">Ver mi Carrito</a>
<div>
    <h1>Bienvendio {{user.first_name}}</h1>
    <div>
        <p>Nombre: {{user.first_name}}</p>
        <p>Apellido: {{user.last_name}}</p>
        <p>Edad: {{user.age}}</p>
        <p>Email: {{user.email}}</p>
        <p>Role: {{user.role}}</p>
    </div>
</div>
<br>
<div style="width: 100%;display: grid;grid-template-columns: repeat(auto-fit,minmax(340px,1fr));gap: 10px;">
    {{#each data.docs}}
    <div style="position:relative; border: gray 1px solid; width: 320px;border-radius: 10px;padding: 8px;">
        <h2 style="text-align: center;"><a href="/product/{{this._id}}" style="text-transform: uppercase; color: black; text-decoration: none;"> {{this.title}} </a></h2>
        <p> <b>Descripcion</b>: {{this.description}} </p>
        <div style="display: flex; flex-direction: row;justify-content: space-between;">
            <p> <b> USD${{this.price}} </b> </p>
            <p> <b> Cantidad:{{this.stock}} </b> </p>
        </div>
    </div>
    {{/each}}
</div>
<div style="width: 100%;display: flex; flex-direction: row; justify-content: center; align-items: center;">
    {{#if data.hasPrevPage}}
        <a href={{data.prevLink}}>Prev</a>
    {{/if}}
    <span style="margin-left: 5px;margin-right: 5px">{{{data.page}}} / {{{data.totalPages}}}</span>
    {{#if data.hasNextPage}}
        <a href={{data.nextLink}}>Next</a>
    {{/if}}
</div>